<form action="/signup" method="POST">
    <input type="text" name="name" id="name" placeholder="Insert Name">
    <input type="email" name="email" id="email" placeholder="Insert Email">
    <input type="password" name="password" id="password" placeholder="insert Password">
    <button type="submit"> Sign Up</button>
</form>